@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin:0
	padding:0;
	height:100%;
	width: 100%;
}
/*LANDING PAGE  
=========================================== */
.intro {
	height:100%;
	width: 100%;
	margin: auto;
	background: url(http://static.pexels.com/photos/545034/pexels-photo-545034.jpeg) no-repeat 50% 50%;
	display: table;
	top:0;
	background-size: cover;
	background-position: center;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
h1 {
	font-family: 'Raleway', sans-serif;
	color: #000000;
	text-shadow: 0px 0px 300px #000;
	font-size: 400%;
	padding-bottom: 20px;
}
h1:hover {
	color: #FFEEE4;
}
.btn {
	border-radius: 9px;
	border: solid #000000 3px;
	font-family: 'Oswald', sans-serif;
	color: #000000;
	font-size: 100%;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}
.btn:hover {
	color: #FFEEE4;
	border: solid #FFEEE4;
}
.nav .ul {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}